.skillContainer {
  width: 100%;
  padding-block: 1.5rem;

  overflow: hidden;
  mask-image: linear-gradient(
    90deg,
    transparent,
    rgb(0, 0, 0) 15%,
    rgb(0, 0, 0) 85%,
    transparent
  );

  border-top: 1px var(--border) solid;
  border-bottom: 1px var(--border) solid;
}

.skillScroll {
  display: flex;
  gap: 0.75rem;

  span {
    padding: 0.5rem 1rem;

    border-radius: 2rem;
    border: 1px var(--border) solid;
    color: var(--secondary);

    white-space: nowrap;
  }

  animation: scrollSkills 25s linear infinite;
}

@keyframes scrollSkills {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
