@use "@shared/styles/variables" as *;

.wrapper {
  padding: var(--body-padding-block) var(--body-padding-inline);
  padding-top: 0;

  width: 100%;
}

.wrapperContent {
  width: 100%;
  max-width: var(--wrapper-max-width);
  margin-inline: auto;

  &.withoutMaxWidth {
    max-width: none;
  }
}

@media screen and (max-width: $mobile) {
  .wrapper {
    width: 100%;
  }
}
