@use "@shared/styles/variables" as *;

.wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--gutter);
}

@media screen and (max-width: $mobile) {
  .wrapper {
    max-width: 100%;
  }
}
