@use "@shared/styles/variables" as *;

.section {
  display: grid;
  gap: 5rem;

  padding-block: var(--section-pad);
}

.twoColumn {
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  align-items: start;
}

.headerSection {
  margin-bottom: 3rem;

  p:global(.label) {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
  }
}

@media (max-width: $mobile) {
  .section {
    gap: 1.5rem;
  }

  .twoColumn {
    grid-template-columns: 1fr;
  }

  .headerSection {
    margin-bottom: 0;
  }
}
