@use "@shared/styles/variables" as *;

.section {
  display: grid;
  gap: 5rem;
}

.twoColumn {
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  align-items: start;
}

.headerSection {
  margin-bottom: 3rem;
}

@media (max-width: $mobile) {
  .twoColumn {
    grid-template-columns: 1fr;
  }
}
