@use "@next/ui-kit" as *;

.experienceItem {
  display: grid;
  grid-template-columns: 15rem 1fr;
  gap: 3rem;

  padding: 2.5rem 0;
  border-top: 1px var(--border) solid;
}

.description {
  p {
    @include text;
  }

  p + p {
    @include text-stack;
  }
}
