@use "@shared/styles/variables" as *;

.hello {
  min-height: 100vh;
  display: flex;
  align-items: center;

  padding-bottom: var(--section-pad);
  padding-top: 0;
}

.slide {
  position: absolute;
  top: 50%;
  left: 2rem;

  transform: translateY(-50%) rotate(-90deg);
  transform-origin: left center;
  white-space: nowrap;
}

.year {
  position: absolute;
  bottom: var(--section-pad);
  left: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  //transform: translateY(-10%);
}

.description {
  max-width: 700px;
}

.visuallyHidden {
  position: absolute;

  width: 1px;
  height: 1px;

  padding: 0;
  margin: -1px;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);

  white-space: nowrap;
  border: 0;
}

@media screen and (max-width: $mobile) {
  .slide,
  .year {
    display: none;
  }
}
